{% extends "::base.html.twig" %}

{% block title %}path1GesUsersBundle:ManageUsers:UpdateUser{% endblock %}

{% block body %}
<h1>Welcome to the ManageUsers:UpdateUser page</h1>
<form action="" method='post'>
{{ form_widget(form) }}
<input type='submit' value='Save'/>
{% endblock %}
